<!-- Top Bar -->
{% load i18n %}
{% load static %}
<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static "images/phone.png" %}" alt=""></div><a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a></div>
                <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static "images/mail.png" %}" alt=""></div><a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></div>
                <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li>
                                <a href="/ru/">Русский<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="/en/">English</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">RUR Russian ruble<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">USD US Dollar</a></li>
                                    <li><a href="#">EUR Euro</a></li>
                                    <li><a href="#">GBP British Pound</a></li>
                                    <li><a href="#">JPY Japanese Yen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">
                        <div class="user_icon"><img src="{% static "images/user.svg" %}" alt=""></div>
                        <div><a href="#">{% trans "Register" %}</a></div>
                        <div><a href="#">{% trans "Sign in" %}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
