{% load i18n %}
{% load static %}
<!-- Wishlist -->
<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist_icon"><img src="{% static "images/heart.png" %}" alt=""></div>
            <div class="wishlist_content">
                <div class="wishlist_text"><a href="/wishlist/">{% trans "Wishlist" %}</a></div>
                <div class="wishlist_count">{{ wishlist.length }}</div>
            </div>
        </div>

        <!-- Cart -->
        <div class="cart">
            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                    <img src="{% static "images/cart.png" %}" alt="">
                    <div class="cart_count"><span>{{ cart.length }}</span></div>
                </div>
                <div class="cart_content">
                    <div class="cart_text"><a href="/cart/">{% trans "Cart" %}</a></div>
                    <div class="cart_price">{{ cart.value }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
