{% load i18n %}
{% load static %}
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="Registration" aria-hidden="true">
  <form class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Registration" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button><form method="post">
      </div>
        <div class="modal-body">
          <label for="email" class="form-control-label">{% trans "E-mail" %}: </label>
          <input id="email" class="form-control" type="text" name="email"  required pattern="\S+@[a-z]+.[a-z]+" value="">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" id="btn_register" class="btn btn-primary" style="background: #0e8ce4; border-color: #0e8ce4">{% trans "Register" %}</button>
      </div>
    </div>
    </form>
  </div>
</div>
