{% load i18n %}
{% load static %}
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="Registration" aria-hidden="true">
  <form class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{% trans "Registration" %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button><form method="post">
      </div>
        <div class="modal-body">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-at"></i></span>
            <input id="email" class="form-control form-control-danger" type="text" name="email" placeholder="name@example.com"  required pattern="[a-zа-я0-9.\-_]+@[a-z0-9]+.[a-z]{2,4}" value="">
          </div>
          <div><p></p></div>

          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
            <input id="password" class="form-control" type="password" name="password"  required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,20}$" aria-describedby="passwordHelpBlock" value="">
          </div>
          <p id="passwordHelpBlock" style="text-align: justify;" class="form-text text-muted">
             {% trans "Your password must be 8-20 characters long, contain uppercase and lowercase letters, non-alpha numeric numbers, and must not contain spaces or emoji." %}
          </p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" id="btn_register" class="btn btn-primary" style="background: #0e8ce4; border-color: #0e8ce4">{% trans "Register" %}</button>
      </div>
    </div>
    </form>
  </div>
</div>
